input[type=range]{
    -webkit-appearance: none;

}

input[type=range]::-webkit-slider-runnable-track {
    transform: translateY(-6px);
    width: 300px;
    height: 5px;
    background: rgb(219, 219, 219);
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(116, 90, 212);
    margin-top: -4px;
    cursor: ew-resize;
    
}
input[type=range]::-ms-fill-lower {
    background: rgb(116, 90, 212);
    border-radius: 10px;
}

